<div class="progress">
  <div class="bar" style="width: 0%;"></div>
</div>

<%= render 'form' %>
<button class="btn nav-prev disabled">&larr;</button>
<button class="btn nav-next">&rarr;</button>

<!--<div class="pagination">-->
  <!--<ul>-->
    <!--<li class="p0 active"><a href="#">1</a></li>-->
    <!--<% for i in 2..129 do -%>-->
    <!--<li><a class="<%= i %>" href="#"><%= i %></a></li>-->
    <!--<%- end %>-->
  <!--</ul>-->
<!--</div>-->

