<!DOCTYPE html>
<html>
<head>
  <title><%= ss_title %></title>
  <meta content='<%= ss_keywords %>' name='keywords'>
  <meta content='<%= ss_description %>' name='description'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag( '/favicon.ico', :type => 'image/png' ) %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Exam</a>

      <div class="btn-group pull-right">
        <% if user_signed_in? %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= current_user.email %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:dashboard), '/dashboard' %></li>
              <li class="divider"></li>
              <li><%= link_to t(:sign_out), destroy_user_session_path %></li>
            </ul>
        <% else %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= t :sign_in %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu header-login-form">
              <%= form_for( :user, :as => Devise.mappings[:user].name, :url => session_path(Devise.mappings[:user].name) ) do |f| %>

                  <%= f.email_field :email, :placeholder => "Email" %>
                  <%= f.password_field :password, :placeholder => t(:password) %>
                  <% if Devise.mappings[:user].rememberable? -%>
                    <%= f.hidden_field :remember_me, :value => 1 %>
                  <% end -%>

                  <%= f.submit t(:sign_in), :class => "btn btn-primary" %>
                  <%= link_to t(:sign_up), new_registration_path(Devise.mappings[:user].name) %><br />
              <% end %>
            </ul>

        <% end %>
      </div>
      <div class="nav-collapse">
        <%= render "shared/menu" %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">