<div class="span4 offset8">
  <h2 class="pull-right">+7 (499) 372-9-652</h2>
</div>
<div class="span12">
  <p class="lead">"Б-152" — опытная и амбициозная компания. Команда менеджеров и специалистов обладает всеми компетенциями и опытом работы на рынке защиты персональных данных.</p>
  <p class="lead">На данный момент "Б-152" является резидентом бизнес-инкубатора НИУ Высшая Школа Экономики <a href="http://hse-inc.ru/">"HSE-Inc"</a> и участником бизнес-акселератора <a href="http://texdrive.com/">"TexDrive"</a>. </p>
</div>
<div class="span12 clearfix">
  <div class="row">
    <a href="http://hse-inc.ru/" class="hse_inc_logo"><img src="http://b-152.ru/img/hse_inc.gif"></a>
    <a href="http://texdrive.com/" class="texdrive_logo"><img src="http://b-152.ru/img/tex_drive.gif"></a>
  </div>
</div>
<div class="span12">
  <h2 style="text-align: center;">Эксперты проекта</h2>
  <div class="row">
    <div class="span12">
      <span><strong>Олег Михальский</strong></span><br>
      <em>Ментор, специалист по маркетингу и продвижению решений в области информационной безопасности</em>
      <div class="row">
        <div class="span2"><img src="http://b-152.ru/img/mihalskiy.jpg" alt="Олег Михальский" width="146" height="195"></div>
        <div class="span10">
          Активно помогает проекту «Б-152» расти, развиваться и налаживать партнёрские связи. Имеет опыт работы на рынке информационной безопасности более 15 лет.<br>
          В разное время занимал руководящие должности в следующих компаниях: «Лаборатория Касперского», «InfoWatch», «Acronis». <br>
          Помимо солидного опыта, отличное образование, полученное в ИКСИ АФСБ, ВАВТ, ВЗФЭИ и АНХ.
        </div>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="span12">
      <span><strong>Игорь Писаренко</strong></span><br>
      <em>Постоянный консультант, кандидат технических наук, доцент, эксперт по информационной безопасности</em>
      <div class="row">
        <div class="span2"><img src="http://b-152.ru/img/pisarenko.jpg" alt="Игорь Писаренко" width="146" height="198"></div>
        <div class="span10">
          Обладая обширными знаниями и опытом в сфере информационной безопасности, выступает постоянным консультантом команды «Б-152»
          <br>
          Игорь Писаренко также является квалифицированным преподавателем и обучает студентов в различных вузов г.Москвы, включая МГУ им.Ломоносова и МЭИ.
        </div>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="span12">
      <span><strong>Максим Лагутин</strong></span><br>
      <em>Руководитель проекта, специалист по информационной безопасности</em>
      <div class="row">
        <div class="span2"><img src="http://b-152.ru/img/lagutin.jpg" alt="Максим Лагутин" width="146" height="194"></div>
        <div class="span10">
          Возглавляет команду «Б-152», занимается стратегическим планированием, развитием сервиса и работой с партнёрами.<br>
          Имеет профильное образование и опыт работы в сфере информационной безопасности более 3-х лет. На данный момент обучается в RMA по программе mini-MBA «Менеджмент в сфере интернет-технологий».<br><br><br>
          E-mail: <a href="mailto:mlagutin@b-152.ru">mlagutin@b-152.ru</a> <br>
          Skype: max.lagutin
        </div>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="span12">
      <span><strong>Алексей Махов</strong></span><br>
      <em>Ведущий разработчик</em>
      <div class="row">
        <div class="span2"><img src="http://b-152.ru/img/makhov.jpg" alt="Алексей Махов" width="146" height="191"></div>
        <div class="span10">
          Занимается технической поддержкой сервиса. Отвечает за непосредственное внедрение идей, и развитие функционала сайта системы «Б-152».<br>
          Имеет профильное образование и опыт в сфере разработки сайтов и веб-приложений более 9-ти лет.
          <br><br><br>
          E-mail: <a href="mailto:amakhov@b-152.ru">amakhov@b-152.ru</a> <br>
          Skype: a.makhov
        </div>
      </div>
    </div>
  </div><br>
</div>
<div class="span12">
  <p style="text-align: center;">
    Мы были бы ничем без наших <a href="#">любимых клиентов</a>, которые помогают делать сервис лучше день ото дня.
  </p>
</div>
