<!--<div class="row" style="margin: 50px 0 70px;">-->
  <div class="span4 offset8">
    <h2 style="text-align: right;">+7 (499) 372-9-652</h2>
  </div>

  <div class="span5">
    <h2 style="text-align: center;">Текст</h2>
    <ul class="thumbnails">
      <li class="span4">
        <a class="thumbnail" href="#">
          <img alt="" src="http://placehold.it/360x270">
        </a>
      </li>
    </ul>
  </div>
  <div class="span5 offset1">
    <h2 style="text-align: center;">Преимущества</h2>
    <p class="lead">"Б-152" — опытная и амбициозная компания. Команда менеджеров и специалистов обладает всеми компетенциями и опытом работы на рынке защиты персональных данных.</p>
    <p class="lead">На данный момент "Б-152" является резидентом бизнес-инкубатора НИУ Высшая Школа Экономики <a href="http://hse-inc.ru/">"HSE-Inc"</a> и участником бизнес-акселератора <a href="http://texdrive.com/">"TexDrive"</a>. </p>
    <button class="btn btn-large btn-success" type="button">Кнопка</button>
  </div>
  <br><br>

  <div class="span12">
    <p>11111111111111111111111111111111111111111111111111111111111111 11111111111111111111111111111111111111111111111111111111111111</p>
    <p>11111111111111111111111111111111111111111111111111111111111111 11111111111111111111111111111111111111111111111111111111111111</p>
  </div>

  <div class="span12">
    <h2 style="text-align: center;">Отзывы</h2>
    <span><strong>Олег Михальский</strong></span><br>
    <em>Ментор, специалист по маркетингу и продвижению решений в области информационной безопасности</em>
    <div class="row">
      <div class="span2"><img src="http://b-152.ru/img/mihalskiy.jpg" alt="Олег Михальский" width="146" height="195"></div>
      <div class="span10">
        Активно помогает проекту «Б-152» расти, развиваться и налаживать партнёрские связи. Имеет опыт работы на рынке информационной безопасности более 15 лет.<br>
        В разное время занимал руководящие должности в следующих компаниях: «Лаборатория Касперского», «InfoWatch», «Acronis». <br>
        Помимо солидного опыта, отличное образование, полученное в ИКСИ АФСБ, ВАВТ, ВЗФЭИ и АНХ.
      </div>
    </div>
  </div>


<!--</div>-->
<!--</div>-->
<!--<div class="navbar navbar-inverse navbar-static-top">-->
  <!--<div class="navbar-inner">-->
    <!--<div class="container" >-->
      <!--<div class="nav-collapse">-->
        <!--<ul class="nav">-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--© 2012 «Б-152» — защищаем персональные данные<br>-->
              <!--Все права и персональные данные защищены-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="offset3">-->
            <!--<a href="http://b-152.ru/terms/">Пользовательское соглашение</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
