<h2><%= t(:sign_in) %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password, t(:password) %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me do -%>
        <%= f.check_box :remember_me %> <%= t(:remember_me) %>
    <% end -%>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn" %>
<% end %>

<%= render "devise/shared/links" %>
