<h2>Оплата</h2>
<%= config.robokassa_login %>
<%= payment_service_for @payment.id, Exam::Application.config.robokassa_login,
                        :amount =>  @payment.sum,
                        :service => :robokassa,
                        :secret => Exam::Application.config.robokassa_secret do |s| %>
    <%= submit_tag "Оплатить", :class => "btn" %>
<% end %>