/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.item div {
    padding-left: 150px;
    background-repeat: no-repeat !important;
}

.header-login-form form {
    margin: 10px;
}

.header-login-form a {
    display: inline !important;
    padding: 0 !important;
    clear: none !important;
    color: #08C !important;
    text-decoration: underline;
    float: right;
    margin-top: 4px;
}

.header-login-form a:hover {
    color: #08C !important;
    background-color: white !important;
    text-decoration: none;
}

.form-horizontal .control-label {
    width: 330px !important;
}
.form-horizontal .controls {
    margin-left: 350px !important;
}