<%= render "shared/header" %>
<% if flash[:notice] %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:success] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:success] %>
    </div>
<% end %>
<% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
<% end %>

<% spanCol = content_for?(:leftmenu) ? 9 : 12 %>

<div class="row">
  <%= yield :leftmenu %>
  <div class="span<%= spanCol %>">
    <%= yield %>
  </div>
</div>


<%= render "shared/footer" %>
