<% content_for :leftmenu do %>
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% for i in 1..30 %>
          <li class=""><a href="#" onclick="questionForm.showQuestionByNum(<%= i %>)">Вопрос №<%= i %></a></li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div>
<% end %>
<%= render :file => 'layouts/application' %>